@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@1,86.5,705&family=Oswald:wght@200&display=swap");
#botonera {
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #121281 linear-gradient(90deg, #121281 30%, #9d2ce3 62%); }
  #botonera img {
    width: 80px; }
  #botonera .navbar-nav {
    display: flex; }
    #botonera .navbar-nav .nav-item {
      padding: 10px; }
      #botonera .navbar-nav .nav-item .nav-link {
        background: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 3px;
        transition: background-size .3s;
        color: black; }
      #botonera .navbar-nav .nav-item .nav-link:hover {
        color: black;
        background-size: 100% 3px; }
