//definir variables 

//colores
$main__color:rgb(255, 255, 255);
$text__color:rgb(157, 2, 174);
$title__color:rgb(0, 0, 139);
$subtitle__color:rgb(0, 139, 139);
$nav__color:rgb(18,18,129)linear-gradient(90deg, rgba(18,18,129,1) 30%, rgba(157,44,227,1) 62%);

//sizing

$W-100:100%;
$W-50:50%;
$W-25:25%;