body{
    font-size: 17px;
    margin: 0;
    padding: 0;
    background-color:$main__color;
    font-family: $font__main;
        #container{
            width: 90%;
            height: 100vh;
            margin: auto;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-template-areas: "header" "main" "footer";
        }
}
.header{
    grid-area: header;
    .img__principal{
        margin-top: map-get($map:$margin, $key:'cinco' );
        background-image: url(../img/header.webp);
        background-size: cover;
        height: 30em;
        @media (max-width:992px){
            height: 20em;
        }
        @media (max-width:550px) {
            height: 12em;
            width: auto;
        }
    }
    .img__principal h1{
        display: flex;
        flex-direction: column;
        align-items: center;
        color:$title__color;
        font-family: $font__main;
    }
}

.main{
    margin-top: map-get($map:$margin, $key:'cinco' );
	margin-bottom: map-get($map:$margin, $key:'cinco' );
	grid-area: main;
    h1{
        color:$title__color;
        text-align: center;
    }
    .section__titulo{
        text-align: center;
        color:$title__color;
    }
    .section__parrafo{
        text-align: justify;
        height: auto;
        margin: 30px auto;
        border-style: none;
        padding: 20px 20px;
        color:$text__color;
        font-family: $font__text;
    }
    #galeria{
        margin-top: map-get($map:$margin , $key:'cinco' );
        h2{
            text-align: center;
            color: $subtitle__color;
        }
    }
}

@keyframes fadeInDown {
	0%{
		opacity: 0;
		-webkit-transform: translateY(-20px);
		-ms-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
} 

.animado{
	animation-name: fadeInDown;
	animation-duration: 4s;
}
// inicia quienes somos

.presentacion{
    display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
    .article__presentacion{
        @extend .section__parrafo;
        width: 45%;
        p{
            font-family: $font__text;
        }
        .retratos{
            width: 100px;
            border-radius: 10%;
        }
        .retrato2{
            width: 124px;
            border-radius: 10%;
        }
    }
    .article__titulos{
        color:$subtitle__color;
        text-align: center;
    }
}

/* Inicia Nuestros Servicios*/

.table{
    width: $W-100;
}

.carrousel{
	margin-top:map-get($map:$margin, $key:'dos');
    height: 5%;
    .carousel-inner{
        max-height:40rem;
    }
}

/*Termina Nuestros Servicios*/

/*Inicia Turnos Online*/

.legend__color{
    color: $subtitle__color;
}

.form__radio{
	display: flex;
	flex-direction: column;
	padding-top: 2%;
}

.second__form--padding{
	padding-top: 2%;
}

.btn{
    margin-top: map-get($map:$margin,$key:'dos') ;
    border-radius: 30px;
    color: black;
    background-color: blueviolet;
    &:hover{
        color: white;
    }
}

/*Inicia Contacto*/

.contacto__propio{
    @include contacto (flex, row, flex-end)
}

.contacto__propio--mapa{
	margin-top: 5%;
	margin-bottom: 5%;
    @include contacto (flex, row, center);
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
        iframe{
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
        }
}